* {
  background-color: $bg-color;
  font-family: $font-fam, sans-serif;
}

h3 {
  @include relative100();
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: auto;
  color: $span-color;
}

p {
  max-width: 635px;
  width: 100%;
  min-height: 251px;
  @include relative100();
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 60px;
  color: $text-color;

  & span {
    color: $span-color;
  }
}

.quote {
  width: 100%;
  @include flexEnd();
  & .quote::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #d8d8d8;
    position: absolute;
    top: -15px;
    left: 0;
    transform: translate(0, -50%);
  }
}

.after-images {
  @include spaceBtwn();
}

.horizontal-line {
  width: 80%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 90px;
  background-color: #d8d8d8;
}

.awards {
  width: 100%;
  margin: auto;
  @include spaceBtwn();
  font-weight: bold;
}

.ui-kit {
  max-width: 190px;
  min-height: 104px;
  position: relative;
  left: -10px;
}

.awards-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
