@mixin flexEnd() {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@mixin spaceBtwn() {
  display: flex;
  justify-content: space-between;
}

@mixin relative100() {
  position: relative;
  left: 100px;
}
