@mixin flexEnd() {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@mixin spaceBtwn() {
  display: flex;
  justify-content: space-between;
}

@mixin relative100() {
  position: relative;
  left: 100px;
}

@import "./variables";
@import "./header";
@import "./main";
@import "./grid";

/* PROJECTS PAGE*/
h2 {
  max-width: 635px;
  min-height: 222px;
  @include relative100();
  font-size: 40px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0;
  color: $text-color;
}

.project-text {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
}

.project-list {
  max-width: 335px;
  width: 100%;
  min-height: 343px;
  display: inline-flex;
}

.pro {
  float: right;
  position: relative;
  right: 100px;
}

.pro-1 {
  float: left;
}

.walking-img {
  width: 1110px;
  width: 100%;
  min-height: 660px;
}

.bottom-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* CONTACT PAGE*/

form {
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  float: right;
}

input[type="text"],
input[type="email"] {
  width: 475px;
  padding: 12px 20px;
  margin-left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
  & .message-area {
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 1px #d8d8d8;
  }
}
button {
  text-align: center;
  width: 125px;
  height: 50px;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #4a4ff2;
  border: none;
  color: #ffffff;
}

.img-centre {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
  min-height: 570px;
}
